[{:arachne/name :org.arachne-framework/arachne-sass
  :arachne/schema arachne.sass/schema
  :arachne/configure arachne.sass/configure
  :arachne/dependencies [:org.arachne-framework/arachne-assets]}]
